In [15]:
import pandas as pd
import numpy as np
import re
import requests
import json
import time
from datetime import datetime
from IPython.display import clear_output
import pickle

In [29]:
# Read in the Gastroenterology dataframe and replace missing or empty strings with NaN

pickle_in = open("gastroenterology_df.pickle", "rb") # read in pickle file
gastroenterology_df = pickle.load(pickle_in)
gastroenterology_df.columns = ['Medical_Specialty', 'Medical_Notes']
gastroenterology_df.Medical_Notes = gastroenterology_df.Medical_Notes.replace(r'^\s*$', np.nan, regex=True)   
print(len(gastroenterology_df))
gastroenterology_df.head()

230

  Medical_Specialty                                      Medical_Notes
0  Gastroenterology  PREOPERATIVE DIAGNOSIS:Abdominal wall abscess....
1  Gastroenterology  PREOPERATIVE DIAGNOSES:1.  Congenital chylous ...
2  Gastroenterology  CHIEF COMPLAINT:Abdominal pain.HISTORY OF PRES...
3  Gastroenterology  PREOPERATIVE DIAGNOSIS:Recurrent re-infected s...
4  Gastroenterology  CHIEF COMPLAINT:Nausea.PRESENT ILLNESS:The pat...

In [30]:
# Drop NaN values from the dataframe

gastroenterology_df = gastroenterology_df.dropna()
print(len(gastroenterology_df))
gastroenterology_df.head()

220

  Medical_Specialty                                      Medical_Notes
0  Gastroenterology  PREOPERATIVE DIAGNOSIS:Abdominal wall abscess....
1  Gastroenterology  PREOPERATIVE DIAGNOSES:1.  Congenital chylous ...
2  Gastroenterology  CHIEF COMPLAINT:Abdominal pain.HISTORY OF PRES...
3  Gastroenterology  PREOPERATIVE DIAGNOSIS:Recurrent re-infected s...
4  Gastroenterology  CHIEF COMPLAINT:Nausea.PRESENT ILLNESS:The pat...

In [22]:
# Read in the Neurology dataframe and replace missing or empty strings with NaN

pickle_in = open("neurology_df.pickle", "rb") # read in pickle file
neurology_df = pickle.load(pickle_in)
neurology_df.columns = ['Medical_Specialty', 'Medical_Notes']
neurology_df.Medical_Notes = neurology_df.Medical_Notes.replace(r'^\s*$', np.nan, regex=True)   
print(len(neurology_df))
neurology_df.head()

223

  Medical_Specialty                                      Medical_Notes
0         Neurology  CC:Left hand numbness on presentation; then de...
1         Neurology  REASON FOR VISIT:The patient is a 74-year-old ...
2         Neurology  CC:Memory difficulty.HX:This 64 y/o RHM had ha...
3         Neurology                                                NaN
4         Neurology  CC:Seizures.HX:The patient was initially evalu...

In [23]:
# Drop NaN values from the dataframe

neurology_df = neurology_df.dropna()
print(len(neurology_df))
neurology_df.head()

215

  Medical_Specialty                                      Medical_Notes
0         Neurology  CC:Left hand numbness on presentation; then de...
1         Neurology  REASON FOR VISIT:The patient is a 74-year-old ...
2         Neurology  CC:Memory difficulty.HX:This 64 y/o RHM had ha...
4         Neurology  CC:Seizures.HX:The patient was initially evalu...
5         Neurology  HISTORY OF PRESENT ILLNESS:The patient is a 58...

In [31]:
# Read in the Orthopedic dataframe and replace missing or empty strings with NaN

pickle_in = open("orthopedic_df.pickle", "rb") # read in pickle file
orthopedic_df = pickle.load(pickle_in)
orthopedic_df.columns = ['Medical_Specialty', 'Medical_Notes']
orthopedic_df.Medical_Notes = orthopedic_df.Medical_Notes.replace(r'^\s*$', np.nan, regex=True)   
print(len(orthopedic_df))
orthopedic_df.head()

355

  Medical_Specialty                                      Medical_Notes
0       Orthopedics  PREOPERATIVE DIAGNOSIS:Right AC separation.POS...
1       Orthopedics  PREOPERATIVE DIAGNOSIS:Idiopathic toe walker.P...
2       Orthopedics  CHIEF COMPLAINT:Achilles ruptured tendon.HISTO...
3       Orthopedics  PREOPERATIVE DIAGNOSIS:Achilles tendon rupture...
4       Orthopedics  IDENTIFICATION:The patient is a 15-year-old fe...

In [32]:
# Drop NaN values from the dataframe

orthopedic_df = orthopedic_df.dropna()
print(len(orthopedic_df))
orthopedic_df.head()

353

  Medical_Specialty                                      Medical_Notes
0       Orthopedics  PREOPERATIVE DIAGNOSIS:Right AC separation.POS...
1       Orthopedics  PREOPERATIVE DIAGNOSIS:Idiopathic toe walker.P...
2       Orthopedics  CHIEF COMPLAINT:Achilles ruptured tendon.HISTO...
3       Orthopedics  PREOPERATIVE DIAGNOSIS:Achilles tendon rupture...
4       Orthopedics  IDENTIFICATION:The patient is a 15-year-old fe...

In [33]:
# Read in the Radiology dataframe and replace missing or empty strings with NaN

pickle_in = open("radiology_df.pickle", "rb") # read in pickle file
radiology_df = pickle.load(pickle_in)
radiology_df.columns = ['Medical_Specialty', 'Medical_Notes']
radiology_df.Medical_Notes = radiology_df.Medical_Notes.replace(r'^\s*$', np.nan, regex=True)   
print(len(radiology_df))
radiology_df.head()

273

  Medical_Specialty                                      Medical_Notes
0         Radiology  2-D STUDY1. Mild aortic stenosis, widely calci...
1         Radiology  2-D M-MODE:1.  Left atrial enlargement with le...
2         Radiology                                                NaN
3         Radiology  2-D ECHOCARDIOGRAMMultiple views of the heart ...
4         Radiology  DESCRIPTION:1.  Normal cardiac chambers size.\...

In [34]:
# Drop NaN values from the dataframe

radiology_df = radiology_df.dropna()
print(len(radiology_df))
radiology_df.head()

269

  Medical_Specialty                                      Medical_Notes
0         Radiology  2-D STUDY1. Mild aortic stenosis, widely calci...
1         Radiology  2-D M-MODE:1.  Left atrial enlargement with le...
3         Radiology  2-D ECHOCARDIOGRAMMultiple views of the heart ...
4         Radiology  DESCRIPTION:1.  Normal cardiac chambers size.\...
5         Radiology  3-DIMENSIONAL SIMULATIONThis patient is underg...

In [35]:
# Read in the Urology dataframe and replace missing or empty strings with NaN

pickle_in = open("urology_df.pickle", "rb") # read in pickle file
urology_df = pickle.load(pickle_in)
urology_df.columns = ['Medical_Specialty', 'Medical_Notes']
urology_df.Medical_Notes = urology_df.Medical_Notes.replace(r'^\s*$', np.nan, regex=True)   
print(len(urology_df))
urology_df.head()

158

  Medical_Specialty                                      Medical_Notes
0           Urology  PREOPERATIVE DIAGNOSES1.  Adrenal mass, right ...
1           Urology                                                NaN
2           Urology  PREOPERATIVE DIAGNOSIS:Stress urinary incontin...
3           Urology  PREOPERATIVE DIAGNOSIS:Bladder lesions with hi...
4           Urology  CHIEF COMPLAINT:Bladder cancer.HISTORY OF PRES...

In [37]:
# Drop NaN values from the dataframe

urology_df = urology_df.dropna()
print(len(urology_df))
urology_df.head()

151

  Medical_Specialty                                      Medical_Notes
0           Urology  PREOPERATIVE DIAGNOSES1.  Adrenal mass, right ...
2           Urology  PREOPERATIVE DIAGNOSIS:Stress urinary incontin...
3           Urology  PREOPERATIVE DIAGNOSIS:Bladder lesions with hi...
4           Urology  CHIEF COMPLAINT:Bladder cancer.HISTORY OF PRES...
5           Urology  CHIEF COMPLAINT:The patient comes for bladder ...

In [39]:
# Merge the dataframes together to create a master dataframe for all medical notes

frames = [gastroenterology_df, neurology_df, orthopedic_df, radiology_df, urology_df]
medical_records = pd.concat(frames)
print(len(medical_records))
medical_records.head()

1208

  Medical_Specialty                                      Medical_Notes
0  Gastroenterology  PREOPERATIVE DIAGNOSIS:Abdominal wall abscess....
1  Gastroenterology  PREOPERATIVE DIAGNOSES:1.  Congenital chylous ...
2  Gastroenterology  CHIEF COMPLAINT:Abdominal pain.HISTORY OF PRES...
3  Gastroenterology  PREOPERATIVE DIAGNOSIS:Recurrent re-infected s...
4  Gastroenterology  CHIEF COMPLAINT:Nausea.PRESENT ILLNESS:The pat...

In [40]:
# pickle dataframe as a checkpoint

pickle_out = open("medical_records_master.pickle", "wb") # write file to bytes
pickle.dump(medical_records, pickle_out)
pickle_out.close()